{% assign rootLength = include.root | size %}
{% assign rootComponentsLength = include.root | split: '/' | size %}
{% assign sortedPages = site.html_pages | sort: 'url' %}
{% assign lastPath = nil %}
{% assign depth = 0 %}
{% assign depthAttr = include.depthAttr | default: "data-level" %}

<script>
    function toggleSubMenu(event) {
      event.preventDefault();
      var subMenu = event.target.nextElementSibling;
      subMenu.style.display = (subMenu.style.display === "none") ? "block" : "none";
    }
    // Fixes the page links scroll problem on both desktop and mobile browsers
    function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
    }
</script>

<ul class="summary" {{depthAttr}}="{{depth}}">

{% for sortedPage in sortedPages %}

  {% assign pagePath = sortedPage.url %}
  {% assign pathSlice = pagePath | slice: 0, rootLength %}


  {% if include.root == pathSlice %}
    {% assign pagePathLength = pagePath | size %}
    
    {% assign extractLastCharPos = pagePath | size | minus: 1 %}
    {% assign lastChar = pagePath | slice: extractLastCharPos %}

    {% if lastChar == '/' %}
      {% assign pagePath = pagePath | slice: 0, extractLastCharPos %}
    {% endif %}

    {% assign lastPathLength = lastPath | size %}
    {% assign nextPath = pagePath | split: '/' %}
    {% assign nextPathLength = nextPath | size %}

    {% if nextPathLength >= lastPathLength %}
      {% assign longestPath = nextPath %}
      {% assign shortestPath = lastPath %}
    {% else %}
      {% assign longestPath = lastPath %}
      {% assign shortestPath = nextPath %}
    {% endif %}



    {% assign newLevel = false %}

    {% for longestPathComponent in longestPath %}
      {% assign index = forloop.index | minus: 1 %}
      {% assign shortestPathLastIndex = shortestPath | size | minus: 1 %}
      {% if longestPathComponent != shortestPath[index] %}
        {% if index != shortestPathLastIndex and forloop.last == false %}
          {% assign newLevel = true %}
        {% endif %}

        {% if shortestPath[index] == nil %}
          {% assign newLevel = true %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if newLevel %}
      {% assign levelDiff = lastPathLength | minus: nextPathLength %}

      {% if levelDiff < 0 %}
        {% if lastPath != nil %}
            <ul>
        {% endif %}
      {% else %}
        {% for i in (1..levelDiff) %}
          </ul></li>
        {% endfor %}
      {% endif %}
    {% else %}
      </li>
    {% endif %}

    {% assign depth = nextPathLength | minus: rootComponentsLength %}


    {% if sortedPage.content != '' %}
      <li class="chapter" {{depthAttr}}="1.1">
        <a href="{{ sortedPage.url }}">
            {{ sortedPage.title }}
        </a>
    {% else %}
        <li class ="chapter" {{depthAttr}}="1.1">
            <a href="#"  >
                {{ sortedPage.title }}
            </a>
    {% endif %}

    {% assign lastPath = nextPath %}
  {% endif %}
{% endfor %}

{% for i in (0..depth) %}
  </li></ul>
{% endfor %}

</ul>
